.outside{
  margin-top: 0;
  padding-top: 0;
  //background-image: url("https://i.111666.best/image/bKXoMSHMW4nXAYVFxlh70R.png");
  height: 100vh;
}
.titletop{
  display: flex;
  flex-direction: column;
  //background-color: #ffffff;
  //color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.totalout{
  margin: 16px;
  padding-top: 16px;
  //padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 5px solid #e0bc5b;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.24);
  //background-color: #ffffff;
}
.yuyuebj{
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 32px;
  //border: 5px solid #52b898;
  //box-shadow: 0 0 10px rgba(114, 114, 114, 0.24);
  //width: 96%;
}
.yuyuebut{
  margin-bottom: 16px;
}

.inputout {
  position: relative;
  margin: 16px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.24);
  background-color: #ffffff;
  //min-height: 60px;

  display: flex;
  flex-direction: column;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  border: 5px solid #c2ced5;




  .opcate-0 {
    border: 5px solid #6291e8;
  }

  .opcate-1 {
    border: 5px solid #ec5c8a;
  }

  .opcate-2 {
    border: 5px solid #3ec257;
  }

  .opcate-3 {
    border: 5px solid #e5d234;
  }

  .picker-bet{
    margin: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    .text-left{
      position: absolute;
      text-align: left;
      font-size: 32px;
      color: #2a2a2a;
      left: 24px;
      //margin-left: 24px;
    }
    .text-right{
      position: absolute;
      text-align: right;
      font-size: 32px;
      color: #9a9a9a;
      //margin-right: 24px;
      right: 54px;
    }
  }
}




.richtext{
  position: relative;
  margin: 16px;
  border-radius: 25px;
  border: 5px solid #52b898;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.24);
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .char-count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #888;
  }
}

.butsubrest{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.rgadopt-text{
  margin: 16px 0;
  padding: 10px 32px;
  font-size: 32px;
  border-radius: 15px;
  background-color: #f58db6;
  color: #ffffff;
}
