.backprice{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f6fc;
}

.notice{
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  margin: 10px;
  background-color: #fcf5d9;

  .notice-text{
    font-size: 28px;
    color: #eec17a;
  }
}
.title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 10px;

  .title-text{
    font-size: 32px;
    font-weight: bold;
    color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.title2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 0 16px;

  .title2-text{
    font-size: 32px;
    font-weight: bold;
    color: #050505;
    margin-left: 16px;
  }
  .title2-text2{
    font-size: 28px;
    color: #d3d3d3;
    font-weight: normal;
    margin-left: 16px;
  }
  .title2-text3{
    font-size: 32px;
    font-weight: bold;
    color: #f38865;
    margin-right: 16px;
  }


}
.title3{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 10px;

  .title2-text3{
    font-size: 32px;
    font-weight: bold;
    color: #f38865;
    margin-right: 16px;
  }
  .title2-text4{
    font-size: 32px;
    color: #050505;
    margin-left: 16px;
  }
  .backcol{
    display: flex;
    flex-direction: column; /* 保持列方向 */
    align-items: flex-end; /* 保证元素靠右对齐 */
    padding-right: 16px;

    .title2-text5{
      font-size: 28px;
      color: #000000;
      margin-right: 0;
      margin-bottom: 16px;
    }
    .title2-text6{
      font-size: 32px;
      color: #d3d3d3;
      margin-right: 0;
    }
  }
}
.backbuttonview{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 140px;
  padding-top: 16px;
  background-color: #ffffff;

  .backbutton{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    background-color: #f96b3b;
    color: #ffffff;
    border-radius: 20px;
    width: 90%;
  }
}
