@keyframes waterAnimation {
  0% { opacity: 0; bottom: 90px; right: -60px; /* 初始位置 */}
  50% { opacity: 1; bottom: 85px; right: 10px; /* 向左偏移 20px */}
  100% { opacity: 0; bottom: 75px; right: 80px; /* 向左偏移 40px */}
}

@keyframes fertilizeAnimation {
  0% { opacity: 0; bottom: 75px; left: -60px; /* 初始位置 */}
  50% { opacity: 1; bottom: 65px; left: 10px; /* 向左偏移 20px */}
  100% { opacity: 0; bottom: 55px; left: 80px; /* 向左偏移 40px */}
}

@keyframes pruneAnimation {
  0% { opacity: 0; bottom: 70px; right: 60px; /* 初始位置 */}
  25% { opacity: 1; bottom: 130px; right: 120px; /* 向左偏移 20px */}
  50% { opacity: 1; bottom: 100px; right: 150px; /* 向左偏移 20px */}
  75% { opacity: 1; bottom: 140px; right: 180px; /* 向左偏移 20px */}
  100% { opacity: 0; bottom: 60px; right: 240px; /* 向左偏移 40px */}
}

@keyframes harvestAnimation {
  0% { opacity: 0; bottom: 80px; right: 60px; /* 初始位置 */}
  50% { opacity: 1; bottom: 60px; right: 0px; /* 向左偏移 20px */}
  100% { opacity: 0; bottom: 30px; right: -80px; /* 向左偏移 40px */}
}

.water-animation, .fertilize-animation, .prune-animation, .harvest-animation {
  position: absolute;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  pointer-events: none;
}

.water-animation {
  animation-name: waterAnimation;
  width: 240px;
  height: 220px;
  object-fit: cover;
}
.fertilize-animation {
  animation-name: fertilizeAnimation;
  width: 240px;
  height: 220px;
  object-fit: cover;
}
.prune-animation {
  animation-name: pruneAnimation;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.harvest-animation {
  animation-name: harvestAnimation;
  width: 180px;
  height: 160px;
  object-fit: cover;
}

.tree-card {
  position: relative;
  // Other styles for the tree card
}



.container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  background-color: #ffffff;
}

//.header {
//  position: relative;
//  display: flex;
//  justify-content: space-between;
//  width: 100%;
//  padding: 20rpx;
//  color: #FFFFFF;
//  //background-color: #ef97a1;
//  background-color: #52b898;
//  .nav-icons {display: flex;justify-content: space-between;align-items: center;width: 100vw;}
//  .right-icons {margin-right: 20px;display: flex;align-items: center;}
//  .icon {width: auto;font-size: 40px;margin: 0 10rpx; /* 增加图标之间的间距 */}
//}

.top-part {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ef96a0;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 20rpx;
  border-bottom: 5px solid #ffffff; /* 给头像一个白色边框 */
  overflow: hidden; /* 确保伪元素不会溢出 */
  background-image: url("https://i.111666.best/image/2qRIN62Cgy1JRp3TQ0nbdi.png");
  //filter: blur(5px); /* 设置背景图片的模糊效果 */
  background-size: cover; /* 覆盖整个容器 */
  background-position: center; /* 图片居中显示 */


  .header {
    //position: relative;
    //display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20rpx;
    color: #FFFFFF;
    //background-color: #ef97a1;
    .nav-icons {display: flex;justify-content: space-between;align-items: center;width: 100vw;}
    .right-icons {
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .icon {width: auto;font-size: 40px;margin: 0 10rpx; /* 增加图标之间的间距 */}
    .myplant{
      font-size: 30px;
      margin-left: 10px;
      //color: #ef98a2;
      font-weight: bold;
    }
  }

  .tree-card {
    margin: 20rpx;
    padding: 20rpx;
    background-color: rgba(252, 252, 252, 0.9);
    border-radius: 25px;

    .ele-image {
      position: absolute;
      width: 75px; /* 根据需要调整尺寸 */
      height: 75px; /* 根据需要调整尺寸 */
      cursor: pointer;
    }

    .tree-image {
      width: 450rpx;
      height: 400rpx;
      object-fit: cover;
      border-radius: 25px;
      //border: 10px solid #ffffff; /* 给头像一个白色边框 */
    }
  }


  .fruittree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 28px;
    //justify-content: flex-start; /* 左对齐 */
    //padding: 10px 10px; /* 上下10像素，左右20像素的内边距 */

    .info-tree {
      color: white; /* 设置文字颜色为白色 */
      margin-left: 40rpx; /* 设置左边距 */
      padding: 12rpx; /* 设置按钮内边距 */
      border-top: 3px solid #FFFFFF; /* 设置按钮边框为白色实线 */
      border-bottom: 3px solid #FFFFFF; /* 设置按钮边框为白色实线 */
      //border-radius: 25px; /* 设置按钮圆角 */
      font-weight: bold; /* 加粗字体 */
    }
    .ball-tree{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .energy{
      color: white; /* 设置文字颜色为白色 */
      padding: 12rpx; /* 设置按钮内边距 */
      margin-left: 50rpx; /* 设置左边距 */
      //border-top: 3px solid #FFFFFF; /* 设置按钮边框为白色实线 */
      //border-bottom: 3px solid #FFFFFF; /* 设置按钮边框为白色实线 */
      //border-radius: 25px; /* 设置按钮圆角 */
      //font-weight: bold; /* 加粗字体 */
    }

    .search-tree {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(124, 196, 174); /* 设置按钮背景颜色为淡绿色 */
      color: white; /* 设置按钮文字颜色为白色 */
      border: 3px solid #FFFFFF; /* 设置按钮边框为白色实线 */
      border-radius: 25px; /* 设置按钮圆角 */
      //padding: 12rpx; /* 设置按钮内边距 */
      margin-right: 40rpx; /* 设置按钮右边距 */
      font-size: 32px;
    }
  }


  .button-group {
    display: flex;
    justify-content: space-around;
    background-color: #e7e6e6;
    width: 86%;
    margin-top: 20rpx;
    margin-bottoms: 20rpx;
    padding: 20rpx;
    border-radius: 25px;
    //border: 5px solid #4848b2;

    .button {
      background-color: #5b7dc9;
      color: #FFFFFF;
      border: none;
      border-radius: 25px;
      padding: 10rpx 20rpx;
      box-shadow: 0 4px 8px rgba(3, 3, 3, 0.62);
      //border: 5px solid #4848b2; /* 给头像一个白色边框 */
    }

    .button.disabled {
      /* 禁用状态按钮样式 */
      background-color: #d3d3d3; /* 浅灰色 */
      color: #656e77; /* 灰色 */
      cursor: not-allowed;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.64);
    }
  }

}


.tree-info {
  display: flex;
  flex-direction: column; /* 确保文本元素纵向分布 */
  align-items: flex-start; /* 对齐到容器的开始位置 */
  color: white; /* 设置所有文本颜色为白色 */
  //background-color: #34A4A9; /* 示例背景色，可以根据需要调整 */
  padding: 20px; /* 增加内边距 */

  .action-item {
    margin-bottom: 5px; /* 每个行动项之间增加间隔 */
    margin-top: 5px; /* 每个行动项之间增加间隔 */
    border: 5px solid #FFFFFF; /* 设置按钮边框为白色实线 */
    border-radius: 25px; /* 设置按钮圆角 */
    padding: 10rpx;
    width: 95%;
    font-weight: bold; /* 加粗字体 */
    background-color: #54b89a;
    //font-style: italic; /* 斜体字形 */

    .bold-italic {
      font-weight: bold;
      //font-style: italic;
      display: block;
      text-align: center;  // 水平居中对齐文本
      cursor: pointer; /* 添加鼠标指针样式 */
    }
    .info-description {
      text-indent: 2em; /* 设置首行缩进为2em */
      display: block; /* 让a标签表现得像块级元素 */
      font-weight: normal; /* 取消加粗 */
      font-style: normal; /* 取消斜体 */
    }
  }

}

.bottom-view{
  //height: 40rpx;
  width: 100%;
  background-color: #ef97a1;
  border-top: 5px solid #ffffff; /* 给头像一个白色边框 */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.generate-button {
  background-color: #53b899; /* 按钮背景颜色 */
  color: #FFFFFF; /* 按钮文字颜色 */
  border: none;
  width: 30%;
  padding: 5rpx 5rpx;
  margin-top: 20rpx; /* 按钮顶部间距 */
  margin-bottom: 20rpx; /* 按钮顶部间距 */
  border-radius: 25px;
  //border: 5px solid #ffffff; /* 给头像一个白色边框 */
}
