.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  //margin: -10px;
  background-color: #f6f6f6;
}

.product-card {
  //width: 45%;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  //flex: 1 1 45%;
  flex: 0 1 47%;
  flex-direction: column;
  //align-items: center;
  margin: 10px; /* 为商品卡片之间设置间距 */

  .product-image-container {
    width: 100%;
    position: relative;
    padding-top: 100%; /* 宽高比为 1:1，保持正方形 */
    overflow: hidden;

    .product-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* 保持图片比例，覆盖整个容器 */
    }
  }

  .product-info1 {
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    .product-title1 {
      font-size: 26px;
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
    }

    .product-price-container1 {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .product-price1 {
        font-size: 32px;
        color: #e53935;
        margin-left: 5px;
      }

      .product-badge1 {
        margin-left: 10rpx;
        font-size: 20px;
        color: #fff;
        background-color: #e53935;
        padding: 2px 5px;
        border-radius: 3px;
      }
    }

    .product-marketprice1{
      font-size: 20px;
      color: #999;
      margin-bottom: 5rpx;
      text-decoration: line-through; /* 在文本中间加横线 */
    }

    .product-category1 {
      font-size: 20px;
      color: #999;
    }
  }
}
