.index {
  position: relative;
}

.viewout {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350rpx;
  padding-top: 20rpx; /* 上方空间 */
  padding-bottom: 35rpx;
  display: flex;
  background-color: #52b898;

  .lbw {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 隐藏溢出部分 */

    .lunbo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px; /* 圆角 */

      .lbt {
        width: 95%;
        height: 85%;
        border-radius: 25px; /* 确保图片是圆角 */
        object-fit: cover;
        border: 5px solid white; /* 给头像一个白色边框 */
      }

      .imgActive {
        opacity: 1;
        height: 94%;
        margin-top: 0rpx;
        transition: all .2s ease-in 0s;
      }
    }
  }

  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55rpx;
    display: flex;
    justify-content: center;

    .dot {
      margin: 0 8rpx;
      width: 18rpx;
      height: 18rpx;
      background-color: white;
      border-radius: 50%;
      transition: all .5s;
    }

    .dot.active {
      width: 25rpx;
      background: #fad81e;
    }
  }

}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center; /* 水平居中 */
  padding: 20px;

  .search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 45px;
    padding: 10px 10px;
    width: 90%;
    box-shadow: 0 5px 8px 5px rgba(66, 66, 66, 0.35);

    .search-icon {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .search-input {
      flex: 1;
      border: none;
      outline: none;
      background: none;
    }

    .search-button {
      margin-right: -8rpx;
      border-radius: 25px; /* 确保图片是圆角 */
      height: 60px;
      align-self: center; /* 确保按钮水平居中 */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; /* 确保内边距不影响行高 */
      line-height: 60px; /* 使按钮内的文字垂直居中 */
      font-size: 30px; /* 可以根据需要调整字体大小 */
      color: white;
      background-color: rgb(98, 145, 232);
    }
  }

}
.variable-text-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .variable-text {
    font-size: 30px;
    color: #919191;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    //font-weight: bold; /* 加粗字体 */
  }
}

.app {
  //padding: 20px;
  width: 100%;
  //background-color: #f88989;
  background-color: #ffffff;
}

.shequ{
  width: 100%; /* 按钮宽度占满父容器 */
  height: 70rpx; /* 设置按钮高度 */
  background-color: #6392e8; /* 设置按钮背景颜色为蓝色 */
  //border-radius: 20rpx; /* 设置按钮为圆角 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32rpx; /* 设置文字大小 */
  line-height: 60rpx; /* 设置行高 */
  align-self: center; /* 确保按钮水平居中 */
  color: #fafafa;
  margin-bottom: 10rpx;

}
