.paysuccess-view{
  display: flex;
  flex-direction: column;
  background-color: #ead9e8;
  min-height: 100vh;
  align-items: center;
}

.paysuccess{
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #f63d25, #f56e53);
  width: 100%;
}
.pay-right{
  display: flex;
  text-align: right;
  justify-content: right;
  flex-direction: row-reverse;
  padding: 16px 20px;
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
}
.pay-bet-out{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay-bet{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  padding-bottom: 20px;
  border-bottom: 5px dashed #ffffff;
  margin-bottom: 40px;

  .pay-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pay-s1{
      font-size: 36px;
      margin-bottom: 30px;
      //font-weight: bold;
      color: #ffffff;
    }
    .pay-s2{
      font-size: 26px;
      margin-bottom: 10px;
      color: #ffffff;
    }
  }
  .pay-icon-out{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

    .pay-icon{
      width: 50px;
      height: 50px;
      object-fit: cover;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }
  }

}
.findorder{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
  font-size: 26px;
  height: 60px;
  //margin-bottom: 16px;
  margin-bottom: 60px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
}
.choujiangview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid #b0b0b0;
  background-color: #ffffff;
  //height: 400px;
  width: 100%;
  transform: translateY(-30px);
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.prizes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.prize-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbf3e8;
  //border: 1px solid #ddd;
  border-radius: 15px;
  //padding: 10px;
  //font-size: 26px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 120px;

  .imageicon{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .icontext{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.draw-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 36px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.draw-button2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 36px;
  height: 120px;
  width: 200rpx;

}

//.draw-button:hover {
//  background-color: #e64a19;
//}

.result {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #4caf50;
}
.result3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #f22754;
}
.result2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #b7917f;
}
