.profile {
  background-color: #f5f5f5;
  //height: 2000rpx;

  .header {
    background-color: #52b898;
    height: 220rpx;
    padding-bottom: 20rpx;
    padding-left: 30rpx;
    color: white;
    position: relative;
    display: flex;
    align-items: center; /* 使内容在垂直方向居中 */
    justify-content: center; /* 使内容在水平方向居中 */


    .username {
      font-size: 35px;
      font-weight: bold;
      position: absolute;
      top: 20rpx;
      left: 80rpx;
    }

    .user-id {
      font-size: 25px;
      //font-weight: bold;
      position: absolute;
      top: 20rpx;
      right: 20rpx;
    }

  }


  .card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120rpx; /* 根据需要调整 */

    .avatar {
      width: 150rpx;
      height: 150rpx;
      border-radius: 50%;
      background-color: #ffffff;
      border: 8px solid white; /* 给头像一个白色边框 */
      position: absolute;
      top: -79rpx; /* 将头像上移 */
      z-index: 1;
      overflow: hidden; /* 裁剪超出的部分 */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* 裁剪图片并保持比例 */
    }

    .membership-card {
      width: 90%;
      height: 170rpx; /* 调整高度 */
      background-color: #fff;
      background-image: url('https://i.111666.best/image/5mR0JEMmHGOyfoaJHK7rWX.png'); /* 设置背景图片 */
      background-size: cover; /* 覆盖整个容器 */
      background-position: center; /* 图片居中显示 */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
      border-radius: 20rpx; /* 调整圆角半径 */
      border: 5px solid #f6f6f6;
      text-align: center;
      padding-top: 75rpx; /* 确保文本不会与头像重叠 */
      z-index: 0;

      .card-text {
        font-weight: bold;
        font-size: 24rpx;
        color: #fafafa;
        line-height: 110rpx;
        position: absolute;
        bottom: -20rpx;
        right: 60rpx;
        z-index: 1;
      }
    }
  }

  .stats {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0;
    margin-top: 20rpx; /* 为了避免会员卡覆盖 stats，增加顶部外边距 */
    width: 90%;
    margin-left: 5%;
    border-radius: 20rpx; /* 调整圆角半径 */

    .stat-item {
      display: flex;
      flex-direction: column;
      align-items: center; /* 使内容居中 */
      justify-content: center; /* 使内容垂直居中 */
      text-align: center;

      .number {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 10rpx; /* 调整与标签的间距 */
      }

      .label {
        font-size: 30px;
        color: #666;
      }
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列布局 */
    gap: 20px; /* 方格间距 */
    background-color: #53b999;
    padding: 40rpx;
    //padding-top: 40rpx;
    //padding-bottom: 40rpx;
    margin-top: 20rpx;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    //justify-items: center; /* 使每个网格单元格的内容水平居中 */

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center; /* 水平居中 */
      //justify-content: center; /* 垂直居中 */
      padding: 15px 10px;
      border: 5px solid #f6f6f6;
      color: #ffffff;
      border-radius: 20px; /* 调整方格圆角 */
      //margin-bottom: 20rpx;

      .icon {
        width: 90rpx;
        height: 90rpx;
        margin-bottom: 10rpx; /* 调整图标与文字的间距 */
      }

      .text {
        font-size: 14px;
      }
    }
  }
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //height: 100vh;
  //padding: 20px;
  background-color: #f5f5f5;

  .login-form {
    width: 100%;
    //max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .login-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f58db6;
    //width: 30%;
    color: #ffffff;
  }

  .login-input {
    width: 96%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid #adadad;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
  }

  .yzm-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

    .login-input2 {
      width: 65%;
      margin-right: 16px;
      padding: 10px;
      border: 5px solid #adadad;
      border-radius: 4px;
      font-size: 24px;
      cursor: pointer;
    }
    .login-button2 {
      width: 30%;
      padding: 10px;
      background-color: #6291e8;
      color: #fff;
      border-radius: 4px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #1aad19;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;

    //&:hover {
    //  background-color: #179b16;
    //}
  }
}


.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;

  .userassert {
    //margin-right: 10px;
    width: 100%;
  }

  .agreement-text {
    font-size: 20px;
    color: #9c9c9c;
  }

  .agreement-link {
    font-size: 24px;
    color: #4CAF50;
    margin-left: 8px;
  }
}
