@keyframes play {
  0% { background-position: 0px 0; }
  10% { background-position: -50px 0; }
  20% { background-position: -100px 0; }
  30% { background-position: -150px 0; }
  40% { background-position: -200px 0; }
  50% { background-position: -250px 0; }
  60% { background-position: -300px 0; }
  70% { background-position: -350px 0; }
  80% { background-position: -400px 0; }
  90% { background-position: -450px 0; }
  100% { background-position: -500px 0; }
}

@keyframes move {
  0% { transform: translateX(0) translateY(0);}
  100% { transform: translateX(500px) translateY(500px);} /* 假设移动500px */
}

.sprite {
  width: 100rpx; /* 每帧的宽度 */
  height: 144rpx; /* 每帧的高度 */
  background-image: url("https://i.111666.best/image/4dXh2xV38afews0L4gVOJJ.png"); /* 使用上传的图片路径 */
  background-repeat: no-repeat;
  position: absolute; /* 绝对定位来控制移动 */
  border: 5px solid #52b898;
  animation: play 2s steps(10) infinite, move 5s linear infinite; /* 1s 切换一遍所有帧，5s 移动一次 */
}


.sprite-container {
  position: relative;
  width: 100%;
  //min-height: 100vh; /* 根据需要调整容器高度 */
  overflow: hidden; /* 隐藏超出容器的内容 */
}

.sprite2 {
  width: 100rpx; /* 每帧的宽度 */
  height: 144rpx; /* 每帧的高度 */
  background-image: url("https://i.111666.best/image/4dXh2xV38afews0L4gVOJJ.png"); /* 使用上传的图片路径 */
  background-repeat: no-repeat;
  position: absolute; /* 绝对定位来控制移动 */
  border: 5px solid #52b898;
}

.sprite3 {
  width: 78rpx; /* 每帧的宽度 */
  height: 80rpx; /* 每帧的高度 */
  background-image: url("https://i.111666.best/image/S2onHLGWn5yhaEVvjG94zN.png"); /* 使用上传的图片路径 */
  background-repeat: no-repeat;
  position: absolute; /* 绝对定位来控制移动 */
  border: 5px solid #52b898;
}

.gif {
  //width: 276px; /* 根据GIF图片的实际宽度设置 */
  //height: 222px; /* 根据GIF图片的实际高度设置 */
  width: 138px; /* 根据GIF图片的实际宽度设置 */
  height: 111px; /* 根据GIF图片的实际高度设置 */
  background-image: url("https://i.111666.best/image/IjlW5YF6HzpB3xjU4Fa5Q5.gif"); /* 使用上传的GIF图片路径 */
  background-repeat: no-repeat;
  background-size: contain; /* 等比例缩小，完整显示 */
  position: absolute; /* 绝对定位来控制移动 */
  //animation: move 5s linear infinite; /* 5秒移动一次 */
}

.images-view{
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //min-height: 50px;
}
.Image-author{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #dacf30;
  border-radius: 50%;
}
